@model Webb.ViewModels.UserCreditCards
@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Billing</h1>
@if (Model.CreditCards.ToList().Count() > 0)
{
    <h3>My cards:</h3>
    <table class="table table-striped">
        <tr>
            <th>Card number</th>
            <th>Card owner</th>
            <th>Expiry date</th>
            <th>Paid</th>
            <th>Remove</th>
        </tr>
        @foreach (var creditCard in Model.CreditCards)
        {
            <tr>
                <td>@creditCard.CardNumber</td>
                <td>@creditCard.CardOwner</td>
                <td>@creditCard.ExpiryDate.ToString("MM/yyyy")</td>
                <td>Paid</td>
                <td>@Html.ActionLink("Remove", "DeleteCreditCard", "CreditCards", creditCard)</td>
            </tr>
        }
    </table>
}
else
{
    <h3>You have no saved cards.</h3>
}
<div style="width: 40%; margin: auto">
    @using (Html.BeginForm("CreditCard", "Home"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CreditCard.CardNumber)
            @Html.TextBoxFor(m => m.CreditCard.CardNumber, null, new { @class = "form-control", placeholder = "0000 0000 0000 0000", type="number" })
            @Html.ValidationMessageFor(m => m.CreditCard.CardNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CreditCard.CardOwner)
            @Html.TextBoxFor(m => m.CreditCard.CardOwner, null, new { @class = "form-control", placeholder = "Card Owner" })
            @Html.ValidationMessageFor(m => m.CreditCard.CardOwner)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CreditCard.ExpiryDate)
            @Html.TextBoxFor(m => m.CreditCard.ExpiryDate, null, new { @class = "form-control", placeholder = "MM / YYYY" })
            @Html.ValidationMessageFor(m => m.CreditCard.ExpiryDate)
            <br />
            @Html.LabelFor(m => m.CreditCard.CvvNumber)
            @Html.TextBoxFor(m => m.CreditCard.CvvNumber, null, new { @class = "form-control", placeholder = "CVV", type="number", min="1" })
            @Html.ValidationMessageFor(m => m.CreditCard.CvvNumber)
        </div>

        <button type="submit" class="btn btn-primary">
            Save
        </button>
    }
</div>